<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyGames</title>
    <link rel="stylesheet" href="..\static\styles.css">
</head>
<body>
    <div class="container">
        <h1>Select a game</h1>
        <div class="buttons">
            <a href="sudoku.html" class="button"><img src= "..\images\sudoku.jpg" alt="sudoku"></a>
            <a href="minesweeper.html" class="button"><img src= "..\images\minesweeper.jpg" alt="minesweeper"></a>
        </div> 
    </div>
</body>
</html>
